/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header configing*/
header {
  background-color:rgb(29, 41, 61);
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

header img {
  height: 140px;
}

header nav li {
  height: 10px;
  display: inline;
}

header .container,
section .container,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li a {
  color: rgb(255, 184, 105);
  text-decoration: none;
  margin-left: 16px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

body,
input,
textarea,
p {
  font-family: "Montserrat", sans-serif;
  background-color:oklch(96.8% 0.007 247.896);
  color: rgb(29, 41, 61);
  }

  section .container img {
    height: 630px;
  }

  .social-links li img {
    height: 24px ;
    border-radius: 20%;
  }

  #whatsapp {
    height: 54px;
  }
  


  .rodape li{
    display: flex;
    align-items: center;
    
  }

  .rodape li {
    display: inline;
    margin-left: 44px;
  }

  .talk,
  .baixo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 154px;
  }

  .social-links li {
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 70px;
  }

.manutencao ul li {
    padding: 12px;
  }

  section .support li {
    text-decoration: none;
  }

  .support ul li {
    list-style-type: none;
    border: none;
  }
  
  footer {
    width: 100%;
    position: absolute;
    text-align: center;
    padding: 25px;
    color: rgb(29, 41, 61);
    justify-content: center;
  }

#accessories img {
height: 580px;
margin-right: 50px;
  /*mix-blend-mode:; => Remove image background*/ 
}

  .social-links li img:hover {
    transform: scale(1.2);
  }





